@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
    font-family: Renogare;
    src: url(../fonts/Renogare-Regular.ttf);
}
@font-face {
    font-family: ProximaNovaA;
    src: url(../fonts/ProximaNovaA-Regular/ProximaNovaA-Regular.ttf);
}
@font-face {
    font-family: ProximaNovaA-Light;
    src: url(../fonts/ProximaNovaA-Light/ProximaNovaA-Light.ttf);
}   

body{
    font-family: ProximaNovaA;
}

h1, h2, h3, h4{
    font-family: Renogare;
    text-transform: uppercase;
    /* font-weight: bold; */
}

p{
    font-family: ProximaNovaA;
}

ul, li {
	list-style-type: none;  /* added from sachin repo */
}
.fp-section{
    height: 100% !important;
}
/* Global Color CSS */
.text-red{
    color: #ea2929;
}
.bg-red{
    background-color: #ea2929;
}
.border-right{
    border-right: 1px solid silver;
}
.nomargin {
    margin: 0 !important;
 }
.border-left-red{
    border-left: 5px solid #ea2929;
 }
.bg-black{
    background-color: #000000;
}

/* below global css added from sachin repo */
.fp-slidesNav {
    display: none;
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.services-headline{
    font-size: 3.5rem;
    line-height: 1;
}

.services-sub-headline{
    font-size: 1.5rem;
}

.services-child-header{
    font-size: 1.4rem;
}
.vertical-center {
    margin: auto;
}


/* Welcome Page CSS start here*/

.welcome{
    background-image: url("../images/welcome-slide/map-bg.svg");
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome .neosoft-logo{
    /* padding: 35vh 0vh; */
}
.welcome .neosoft-logo img{
    /* position:relative; */
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.welcome .cmmi-level{
    background-color: #fff;
    padding: 3px 10px;
    margin-top: 31px;
    margin-right: 45px;
    font-size: 1.3rem;
    border: 1px solid #000;
    float: right;
}
.welcome-bottom-links{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 50px;
    position: absolute;
}
.welcome-bottom-links .bt-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.welcome-bottom-links .bt-links .lists{
    margin: 10px;
}
.welcome-bottom-links .bt-links .lists .border-line{
    border-right: 1px solid #707070;
}
.welcome-bottom-links .bt-links .lists p{
    padding-right: 40px;
    padding-left: 20px;
    font-size: 1.5625rem;
}
.welcome-bottom-links .bt-links .lists p span{
    padding-left: 10px;
}
 

/* Welcome Page CSS end here*/

/* Welcome Page CSS end here*/

/* Digital Innovation CSS start here */
.digital-innovation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.digital-innovation .digital-innovation-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;
}
.digital-innovation .digital-innovation-top .di-content{
    /* padding: 10px; */
    position: relative;
}
.digital-innovation .digital-innovation-top .di-content-line{
    height: 75%;
    position: relative;
    border-right: 1px solid rgba(112, 112, 112, 0.50);
    margin-left: 5%;
}
.digital-innovation-top .di-content-line::after{
    content:'';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 0;
    height: 0;
    border-left: solid 10px rgba(112, 112, 112, 0.50);
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
}
.digital-innovation .digital-innovation-top .di-content h1{
    font-size: 4.49625rem;
}
.digital-innovation .digital-innovation-top .di-content p{
    font-size: 1.4rem;
    color:#ffffff;
    padding: 10px;
}
.digital-innovation .innovation-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.innovation-list .card{
    flex-basis: 40%;
    padding: 20px;
    padding-left: 30px;
    border-radius: 0px;
    border: 1px Solid rgba(112,112,112,0.6);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 20px;
}    
.innovation-list .card p{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
    font-family: ProximaNovaA;
    /* color: #707070; */
    margin-top: auto;
    margin-bottom: auto;
}
.innovation-list .card .icon-di{
    width: 25px;
    height: 40px;
}
.digital-innovation-bottom{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 5%;
}
.digital-innovation-bottom .vision-mission h2{
    font-size: 2.29625rem;
    padding-left: 30px;
}
.digital-innovation-bottom .vision-mission p{
    font-size: 1.500625rem;
    color: #414143;
    padding-left: 35px;
    margin-right: 15%;
}

/* Digital innovation CSS ends here */

/* Leadership CSS start here */
.leadership{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.leadership .slide1{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.leadership .slide1 h1{
    font-size: 3.7475rem;
    margin-bottom: 15%;
}
.leadership .slide1 ul{
    list-style: none;
}
.leadership .slide1 ul li::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -37px;
    top: 30%;
    background-color: #ea2929;
}
.leadership .slide1 ul li {
    font-size: 2rem;
    width: 500px;
    position: relative;
}
.leadership .slide1 hr{
    border-top: 2px solid rgba(112,112,112,.25);
    margin-left: -40px;
}
.leadership .slide1 ul li .name{
    color:#000000;
    font-size: 2.894375rem;
    margin-bottom: -20px;
}
.leadership .slide1 ul li .title{
    font-size: 1.5rem;
    color: #000000 !important;
}
.leadership .slide2{
    background-image: url(../images/leadership-slide/leadership-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
}
.leadership .slide2 .slide2-info{
    background-color: rgba(255, 0, 0, 0.6);
    padding: 15%;
    color: #ffffff;
    position: relative;
}
.leadership .slide2 .slide2-info img{
    position: absolute;
    top: -130px;
    left: -50px;
}
.leadership .slide2 .slide2-info h4{
    font-size: 2.158125rem;
}
.leadership .slide2 .slide2-info p{
    font-size: 1.875rem;
    font-family: 'Raleway', sans-serif;
}

/* Leadership  css ends here */

/* Quick facts css start here */
.quick-facts{
    display: flex;
    height: 100%;
}
.bg-light-gray{
    background-color: #EDEFF0;
}
.bg-dark-gray{
    background-color: #DFE0E2;
}
.quick-facts .slide1{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ea2929;
    color: #fff;
    height: 100%;
    position: relative;
}
.quick-facts .slide1 .top-heading{
    padding: 50px;
}
.quick-facts .slide1 h1{
    font-size: 4.19125rem;
}
.quick-facts .slide1 .top-heading p{
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: 2px;
}
.quick-facts .slide1 hr{
    border: 0.8px solid #fff;
}
.quick-facts .slide1 .bottom-facts .card{
    padding: 10px 10px;
    border-radius: 0px;
    background-color: #ea2929;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quick-facts .slide1 .bottom-facts .card sup {
    top: -.3em;
}
.quick-facts .slide1 .bottom-facts .cmmilevel{
    background-color: #CF1A1D;
    margin: 0;
    padding: 20px 0px;
}
.bottom-facts h3{
    font-size: 3.206875rem;
}
.quick-facts .slide1 .bottom-facts .card .card-text{
    font-size: 1.375rem;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 1em;
}
.quick-facts .slide2{
    flex-basis: 80%;
}
.quick-facts .slide2 .row {
    margin-right: 0px;
    margin-left: 0px;
    height: 50%;
}
.quick-facts .slide2 .cards-row{
    display: flex;
    flex-wrap: wrap;
}
.quick-facts .quick-facts-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quick-facts .quick-facts-block h5{
    font-size: 2rem;
    font-weight: bold;
    font-family: Renogare;
    padding-left: 10px;
    margin-bottom: 5%;
}
.quick-facts .quick-facts-block .cards-row .card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 0;
    flex-basis: 40%;
    padding: 20px;
    margin: 10px;
    border-radius: 0px;
    border: none;
}
.quick-facts .quick-facts-block .card .card-text{
    margin-left: 10px;
    color:#676767;
}
.quick-facts .quick-facts-block .card .card-text h3{
    margin-bottom: -5px !important;
    font-size: 1.5rem;
}
.quick-facts .quick-facts-block .card .card-text h3 sup{
    top: -0.1em;
    left: -0.2em;
    font-size: 1.5rem;
}
.quick-facts .quick-facts-block .card .card-text h3 small{
    font-size: 0.875rem;
    color:#676767;
    font-family: ProximaNovaA;
    text-transform: initial;
}
.quick-facts .quick-facts-block .card .card-text span{
    font-size: 0.875rem;
    font-family: ProximaNovaA;
}
/* .quick-facts .quick-facts-block .card img{
    
 } */
.quick-facts .quick-facts-block .partners .card img{
    width: 100%;
    height: 50px;
}

/* Quick facts css ends here */

/* Success Stories css start here */
.success-stories{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.success-stories .slide1{
    flex-basis: 40%;
    background-image: url("../images/industries/story-bg.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
}
.success-stories .slide1 .slide1-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.success-stories .slide1 .success-stories-outer-div{
    padding: 30px;
    color: #fff;
    position: relative;
}
.success-stories .slide1 .top-left-img{
    position: absolute;
    top: 20px;
    left: 30px;
}
.success-stories .slide1 .bottom-right-img{
    position: absolute;
    bottom: 0px;
    right: 20px;
}
.success-stories .slide1 .success-stories-outer-div h1{
    padding: 10px;
    font-size: 4.09rem;
}
.success-stories .slide1 .success-stories-outer-div .success-stories-inner-div{
    padding: 50px 30px;
    margin: 0 20px;
    color: #ffffff;
    background-color: rgba(236,32,25,0.85);
    line-height: 10px;
}
.success-stories .slide1 .success-stories-outer-div .success-stories-inner-div h4{
    font-size: 3.028125rem;
    text-transform: capitalize;
}
.success-stories .slide1 .success-stories-outer-div .success-stories-inner-div p{
    font-size: 2rem;
    font-family: ProximaNovaA-Light;
}
.success-stories .slide2{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    height: 100%;
}
.success-stories .slide2 .border-right{
    border-right: 1px solid #f0f0f0;
}
.success-stories .slide2 .border-top{
    border-top: 1px solid #f0f0f0;    
}
.success-stories .slide2 .border-bottom{
    border-bottom: 1px solid #f0f0f0;    
}
.success-stories .slide2 .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.success-stories .slide2 .categories .sections{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all .2s ease-in-out;
    z-index: 999;
}
/* .success-stories .slide2 .categories .sections:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px #f0f0f0;
    transform: scale(1);
    background-color: #fff;
    color: #EC2019;
} */
/* .success-stories .slide2 .categories .sections:hover p{
    color: #EC2019;
} */
.success-stories .slide2 .categories div p{
    font-size: 1.256rem;
    color: #000000;
    line-height: 1em;
    max-width: 62%;
    margin: 0 auto;
}
.success-stories .slide2 .categories div img{
    width: 50px;
    height: 50px;
}



/* Success stories css ends here */

/* What-we-do css start here */
.what-we-do{
    background-image: url("../images/what-we-do/bg-whatwedo.png"), linear-gradient(rgba(0,0,0,0.62),rgba(0,0,0,0.62));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: bottom;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.what-we-do .what-we-do-top{
    display: flex;
    padding: 5%;
    flex-basis: 50%;
}
.what-we-do .what-we-do-top .content1{
    background-color: rgba(255, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #ffffff;
    margin: 10px;
}
.what-we-do .what-we-do-top .content1 h1{
    font-size: 3.2rem;
}
.what-we-do .what-we-do-top .content1 h2{
    font-size: 8.275rem;
}
.what-we-do .what-we-do-bottom{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
    z-index: 999;
    flex-basis: 50%;
}
.what-we-do .what-we-do-bottom .content-lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.what-we-do .what-we-do-bottom .content-lists .list{
    margin: 0 50px;
}
.what-we-do .what-we-do-bottom .content-lists .list h5{
    color: #ffffff;
    font-size: 1.8rem;
}
/* .what-we-do .what-we-do-bottom .content-lists .list h5:hover{
    color: #ea2c30;
} */
.what-we-do .what-we-do-bottom .content-lists .list p{
    color: #f0f0f0;
    font-size: 1.3rem;
    font-family: ProximaNovaA-Light;
    padding-top: 10px;
}
/* What-we-do css end here */

/* Services Modules CSS  */
/* Main Services Page CSS */
.services-section{
    background-image: url("../images/services/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;  
}
.services-section .service-category{
    padding-left: 5%;
}
.services-section .service-category ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
}
.services-section .service-category ul li{
    flex-basis: 25%;
    margin-right: 0px;
    margin-bottom: 50px;
}
/* .services-section .service-category ul li .box-text p:hover{
    cursor: pointer;
    color: #EC2019;
} */
.services-section .service-category ul li:nth-child(1n+9) {
    margin-bottom: 0px !important;
}
.services-section .service-category .black-border-bottom:after {
    content: '';
    border-bottom: 2px Solid rgba(112,112,112,0.6);
    width: 65%;
    display: block;
}
.services-section .service-category ul li .box-text p{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
    color:#222224;
    letter-spacing: 2px;
    min-height: 80px;
}
.services-section .box-img{
    width: 100%;
    border-radius: calc(.25rem - 1px);
    min-height: 53px;
}
.services-section .box-text{
    font-weight: bold;
    margin-top: 10px;
}
.services-section .servie_head_title{
    background-color: #ea2929;
    color: #ffffff;
    padding: 10px;
    font-size: 3.5rem;
}

.service-modules{
    height: 100%;
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2%;
}
.service-modules .section-heading{
    font-size: 4rem;
    color: #ea2929;
}
.service-modules .section-sub-heading{
    font-size: 2rem;
    color: #000000;
}
.service-modules .category-content .row .col-md-3, .col-md-4{
    padding-bottom: 20px !important;
    padding-left: 0px !important; 
    padding-right: 20px !important;
}
.service-modules .category-content .row:first-child{
    padding-left: 20px !important;
}
.service-modules .category-content .card{
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13); 
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.13); 
    text-align: center;
}
.service-modules .category-content .container-fluid .card{
    padding: 50px;
}
.service-modules .internet-marketing .card,.blockchain .card{
    padding: 30px !important;
}
.service-modules .category-content .card .card_title{
    font-size: 1.5rem;
    font-weight: bold; 
    line-height: 25px;
}
.service-modules .category-content .card .card_content{
    font-size: 1.2rem;
}
.service-modules .category-content .card .card_title {
    position: relative;
    padding-bottom: 20px;
}
.service-modules .category-content .card .card_title::after{
    content: "";
    position: absolute; 
    left: 0; 
    right: 0;
    bottom: 0; 
    width: 10%; 
    margin: 0px auto;
    height: 1px; 
    border-bottom: 3px solid #ea2929; 
}

/* Services CSS End */

/* Enagagement Model CSS Start*/
.engagement-models{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../images/engagement-model/engagement-bg.png"), linear-gradient(rgba(0,0,0,0.88),rgba(0,0,0,0.88));
    background-blend-mode: overlay;
    background-position: bottom;
    background-size: cover;
}
.engagement-models .engagement-heading{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.engagement-models .engagement-heading h1{
    color: #ffffff;
    font-size: 4.039375rem;
}
.engagement-models .engagement-category{
    background-color: #ffffff;
    flex-basis: 50%;
    display: flex;
    width: 100%;
}
.engagement-models .engagement-category .engg-section{
    flex: 1 1 0;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5% 3.5% 1% 3.5%;
    border-right: 1px solid rgba(112, 112, 112, 0.50);
}
.engg-section h2{
    font-size: 1.875rem;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: ProximaNovaA;
    font-weight: bold;
}
.engg-section .section-icon{
    background-color: #ea2929;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -11%;
    left: 10%;
    padding: 15px;
    display: flex;
}
.engg-section ul{
    list-style: none;
    padding: 0px;
}
.engg-section ul li{
    position: relative;
    padding-left: 30px;
    font-size: 1.875rem;
    font-family: ProximaNovaA;
    line-height: 1.3;
    margin-bottom: 20px;
}
.engg-section ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 0.4em;
    height: 0.4em;
    border-right: 2px solid #ea2929;
    border-top: 2px solid #ea2929;
    transform: rotate(45deg);
}

/* Engagement Model CSS End */
/* value page start */
.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.value .colmn-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    flex-basis: 40%;
    height: 100%;
}

.value h2{
    font-size: 3.8rem;
}


.value .colmn-middle.bg-red > div > p{
    /* width: 65%; */
    font-size: 1.375rem;
    line-height: 1.2em;
}

.value .border{
    border: solid white 4px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
}

.value li + li{
    border-top: 2px solid rgba(112,112,112,0.37);
}

.value .left-ul{
    flex-direction: column;
}
.value .left-ul li p, .right-ul li p{
    font-size: 1.53125rem;
    color: #000000;
    padding-top: 10px;
    /* line-height: 1.3em; */
    margin-bottom: 0;
}
.value .colmn-left{
    margin: auto 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 25%;
}

.value .colmn-left ul li{
    padding: 25px;
    text-align: right;
}

.value .right-ul{
    flex-direction: column;
    justify-content: left;
    padding-left: 0px;
}

.value .colmn-right{
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

.value .colmn-right ul li{
    padding: 25px;
    text-align: left;
}

.value .colmn-middle .footer{
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 10% 13%;
    padding: 7% 0%;
    /* justify-content: center; */
    font-weight: bold;
}

.value .colmn-middle .footer p{
    width: 50%;
}

.value .colmn-middle .footer .first-child{
    font-size: 4.12rem;
    font-family: Renogare;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: normal;
}
.value .colmn-middle .footer .first-child span{
    font-size: 1.9rem;
    font-family: Renogare;
}
.value .colmn-middle .footer .last-child{
    font-size: 1.486875rem;
    margin-left: -30px;
    padding-left: 10px;
    line-height: 30px;
    font-family: Renogare;
    border-left: 2px solid #fff;
    text-align: left;
    font-weight: normal;
    letter-spacing: 1px;
}

/* value page end */

/* Clients page */
.happy-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.client ul{
    display: flex;
    flex-direction: row;
    padding-right: 2.895%;
}
.client ul li{
    border: 1px solid rgba(112,112,112,0.3);
    border-radius: 5px;
}
.client ul .text-li{
    width: 31.54%;
    padding: 1% 1% 0;
    line-height: 1;
    letter-spacing: 2px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client ul p{
    font-family: Renogare;
    font-size: 2.5rem;
}
.main-flex {
    flex-wrap: wrap;
    justify-content: space-between;
}
.client ul li:nth-child(1n+24) {
    margin-bottom: 0px;
}
.main-flex li {
    padding-top: 9%;
    position: relative;
    width: 14.77%;
    margin: 1% 0;
}   
.main-flex li img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.main-flex h2{
    position: relative;
    color: #ea2929;
    font-size: 1.5rem;
    font-family: ProximaNovaA;
    font-weight: bold;
    margin-left: -30px;
}
.main-flex h2::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 3px;
    left: 80px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #ea2929;
}
.main-flex .more-li{
    padding-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clients Page */


/* technology expertise */
.technology-expertise{
    background-color: #F5F5F5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.technology-expertise h1{
    font-size: 3.046875rem;
}
.technology-expertise .card .div-img{
    border: 1px solid rgba(112, 112, 112, 0.50);
    padding: 5px;
}
.technology-expertise .main-ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.technology-expertise .main-ul li{
    flex-basis: 50%;
    position: relative;
    padding: 20%;
    border-left: 1px solid rgba(112, 112, 112, 0.30);
    border-bottom: 1px solid rgba(112, 112, 112, 0.30);
}
.technology-expertise .main-ul li img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.technology-expertise div:nth-child(2) > div > ul > li:nth-child(even){
    border-right: 1px solid rgba(112, 112, 112, 0.30);
}
.technology-expertise .sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 1%;
}
.technology-expertise .sub-container .box{
    width:14.61%; 
    height: 38.3%;
    padding: 0% 0% 1% 0%;
}
.technology-expertise h6{
    margin-bottom: 0px;
    padding: 4%;
    font-size: 1.125rem;
    font-family: Renogare;
}
.technology-expertise .bg-red{
    background-color: #ea2929;
}

/* technology-expertise  */

/* passion */
.passion{
    background-image: url("../images/passion-slide/background.png"), linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85));
    background-blend-mode: overlay;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
}
.passion .header{
    font-size: 4rem;
    margin-bottom: 0px;
    font-family: Renogare;
    letter-spacing: -2.5px;
    text-transform: uppercase;
}
.passion p span {
    position: relative;
    padding-bottom: 5px;
}
.passion p span::after{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    border-bottom: 3px solid #ea2929; 
    content: ""
}
/* passion */

/* life at Neosoft */
.life-neosoft{
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
}
.life-neosoft .header{
    font-size: 4rem;
    margin-bottom: 0px;
    font-family: Renogare;
    letter-spacing: -2.5px;
    text-transform: uppercase;
}
.life-neosoft p span {
    position: relative;
    padding-bottom: 5px;
}
.life-neosoft p span::after{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    border-bottom: 3px solid #ea2929;
    content: ""
}

/* life at Neosoft */

/* Global Presence css start here */
.global-presence{
    display: flex;
    height: 100%;
}
.global-presence .global-left-section{
    flex-basis: 30%;
    background-image: url("../images/global-presence/gobal-left-bg.png"), linear-gradient(rgba(0,0,0,0.62),rgba(0,0,0,0.62));
    background-blend-mode: overlay;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10%;
    position: relative;
}
.global-presence .global-left-section .global-text{
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    width: 400px;
    position: absolute;
    top: 15%;
    right: -15%;
    z-index: 1;
}
.global-presence .global-left-section .global-text h4{
    font-size: 2.7rem;
    /* letter-spacing: 0.2em; */
    margin-bottom: 0px !important;
}
.global-presence .global-right-section{
    flex-basis: 70%;
    background-color: #ea2929;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.global-right-section .global-map img{
    padding: 0 8%;
    width: 100%;
}
.global-presence .global-right-section .address{
    color: #ffffff;
    padding-left: 8%;
}
.global-presence .global-right-section .address h4{
    font-family: Renogare;
    font-size: 1.8rem;
} 
.global-presence .global-right-section .address p{
    font-family: ProximaNovaA;
    font-size: 1.4375rem;
    letter-spacing: 0.1em;
}
/* Global presence css ends here */

/* Home Button CSS */
.home-button{
    position: absolute;
    top: 15px;
    right: 15px;
}
.home-button img{
    width: 50px;
    height: 50px;
}