
@font-face {
  font-family: 'Renogare-Regular';
  src: url('Renogare-Regular.eot?#iefix') format('embedded-opentype'),  url('Renogare-Regular.woff') format('woff'), url('Renogare-Regular.ttf')  format('truetype'), url('Renogare-Regular.svg#Renogare-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
